@media screen and (max-width:960px) {

    /*top and header (共通部分)*/
    .header {
        width: 85%;
        margin: 0 auto 0 45px;
        padding-top: 60px;
        padding-left: 0;   
    }

    .header-title {
        right: 30px;
    }

    .header-icon {
        display: block;
    }

    .material-icons {
        color: white;
    }

    .header-menu {
        display: none;
    }

    .top-main {
        width: 70%;
        text-align: center;
    }


    /*contents*/
    .services-container,
    .projects-container,
    .footer-top {
        width: 100%;
    }

    .services-title,
    .projects-title {
        padding-left: 50px;
    }

    .services,
    .projects {
        flex-direction: column;
        margin-top: 0;
    }

    .service {
        width: 90%;
        margin: 50px auto 0 auto;
    }

    .service-top img {
        height: 400px;
    }

    .project {
        width: 100%;
        justify-content: center;
        margin-top: 50px;
    }

    .project span {
        text-align: right;
        padding-right: 10px;
    }


    /*footer(共通部分)*/
    .footer-top {
        width: 90%;
        margin: 0 auto;
    }

    .footer-bottom {
        width: 80%;
        margin: 0 auto;
    }

    .footer-bottom-right span {
        color: #22eaaa;
    }
}

@media screen and (max-width:480px) {

    .header {
        padding-top: 40px;
        margin: 0 auto ;
        width: 90%;
    }

    .header-title {
        width: 180px;
    }

    .sp-nav {
        width: 90%;
    }

    .top-main {
        width: 95%;
    }
    
    .services-title,
    .projects-title {
        padding-left: 20px;
    }


    /*footer(共通部分)*/
    .footer-top {
        flex-direction: column;
        justify-content: flex-start; 
    }

    .overview {
        width: 100%;
    }

    .footer-menu {
        flex-direction: column;
        justify-content: flex-start; 
    }

    .footer-menu div {
        margin-top: 20px;
    }

    .footer-menu div ul {
        margin-top: 30px;
    }

    .footer-bottom {
        width: 90%;
        align-items: center;
        padding-bottom: 80px;
    }
}