@media screen and (max-width:960px) {

    /*top and header (共通部分)*/
    .top {
        height: 800px;
    }

    .header {
        width: 85%;
        margin: 0 auto;
        padding-top: 60px;
        padding-left: 0;   
    }

    .header-title {
        font-size: 28px;
    }

    .header-icon {
        position: relative;
        display: flex;
        align-items: center;
    }

    .material-icons {
        color: white;
        margin-top: 10px;
    }

    .header-menu {
        display: none;
    }

    .top-main {
        width: 70%;
        text-align: center;
    }


    /*contents*/
    .form {
        width: 100%;
    }

    .form form,
    .form-title {
        width: 85%;
        margin:  0 auto;
    }

    .name input,
    .company input {
        width: 91%;
    }

    .name input,
    .company input,
    .Email input,
    .message textarea {
        font-size: 20px;
    }

    .name input:focus,
    .company input:focus,
    .Email input:focus,
    .message textarea:focus {
        border: none;
        outline: 0;
    }

    .name input,
    .company input,
    .Email input {
        padding: 0 10px;
    }

    .name input::placeholder,
    .company input::placeholder,
    .Email input::placeholder {
        padding: 0;
    }

    .message textarea::placeholder {
        padding: 0px;
    }


    /*footer(共通部分)*/
    .footer-top {
        width: 90%;
        margin: 0 auto;
    }

    .footer-bottom {
        width: 80%;
        margin: 0 auto;
    }

    .footer-bottom-right span {
        color: #22eaaa;
    }
}

@media screen and (max-width:480px) {

    .sp-nav {
        width: 90%;
    }

    .mold {
        display: flex;
        flex-direction: column; 
    }

    .first-line {
        justify-content: flex-start;
        flex-direction: column; 
    }

    .mold div {
        margin-top: 10px;
    }

    .name,.company {
        width: 100%;
    }

    .company {
        height: 78px;
    }

    .name input,
.company input,
    .Email input,
.message textarea,
.send input {
    width: 100%;
    box-sizing: border-box;
}


    /*footer(共通部分)*/
    .footer-top {
        flex-direction: column;
        justify-content: flex-start; 
    }

    .overview {
        width: 100%;
    }

    .footer-menu {
        flex-direction: column;
        justify-content: flex-start; 
    }

    .footer-menu div {
        margin-top: 20px;
    }

    .footer-menu div ul {
        margin-top: 30px;
    }

    .footer-bottom {
        width: 90%;
        align-items: center;
        padding-bottom: 80px;
    }
}